/MySymbols.bak
/fp-info-cache
/HexKeyboard.kicad_pcb-bak
/HexKeyboard.kicad_prl
/HexKeyboard.net
/HexKeyboard.sch-bak
/HexKeyboard-cache.lib
Gerber
/Case/UM2_caseBottom.gcode
/Case/UM2_faceplate.gcode
/Case/UM2_case.gcode
HexKeyboard-backups
